version: '3.9'

services:
  # --------- API SERVER SETUP  ---------- #
  api-server:
    image: api-server
    # ports:
    #   - "8080:8080"
    build: .

  # --------- prometheus SETUP ---------- #
  prometheus:
    image: prom/prometheus:v2.45.0
    # ports:
    #   - 9090:9090
    command:
      - --web.enable-remote-write-receiver
      - --enable-feature=native-histograms
      - --config.file=/etc/prometheus/prometheus.yaml
    volumes:
      - ./config/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml:ro

  # --------- grafana SETUP ---------- #
  grafana:
    image: grafana/grafana:10.0.1
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    volumes:
      - ./config/grafana/prometheus-remote:/etc/grafana/provisioning/
